<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入资源文件-->
    <properties resource="jdbc.properties"/>
    <!--驼峰匹配 自动映射pojo中的熟悉到数据库字段-->
    <!--<settings>-->
        <!--<setting name="mapUnderscoreToCameLCase" value="true"/>-->
    <!--</settings>-->

    <!--类型别名-->
    <typeAliases >
        <!--type 类的全路径 alias 类型别名 在mapper.xml可以直接使用别名-->
        <!--<typeAlias type="cn.ahjz.mybatis1.Dept" alias="Dept" />-->
        <!--包自动扫描使用类型作为别名-->
        <package name="cn.ahjz.mybatis1"></package>
    </typeAliases>

    <!--environments指定数据源环境，default指的是使用哪个数据源  -->
    <environments default="development">
        <!--environment定义数据源的信息  -->
        <environment id="development">
            <!-- type="JDBC"表示事务由jdbc连接管理，type="MANAGED"表示事务由容器来管理 -->
            <transactionManager type="JDBC"/>
            <!-- type="POOLED"表示使用连接池， type="UNPOOLED"表示不使用连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url"
                          value="${url}"/>
                <property name="username" value="${userName}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

    </environments>
    <mappers>
        <!--<mapper class="cn.ahjz.mybatis1.dao.DeptDao"/>-->
        <!--<mapper  resource="DeptDao.xml"/>-->
        <!--根据指定包名自动扫描包下的mapper-->
        <package name="cn.ahjz.mybatis1.dao"/>
    </mappers>
</configuration>
